#login {
  background-color: $bg;
}

#login-container {
  width: 1000px;
  height: 600px;
  background-color: $bg;
  box-shadow: 4px 4px 12px 4px rgba(51, 51, 102, 0.5);
}

.login-left {
  padding-top: 110px;
  min-width: 600px;
  height: 490px;
}
.login-right {
  background-color: white;
  flex-grow: 2;
}
