.header {
  height: 60px;
  background-color: rgba(24, 144, 255, 1);
}

.header-left {
  cursor: pointer;
}

.header-logo {
  height: 40px;
  width: 40px;
}

.header-title {
  margin: auto;
  color: white;
  display: inline-block;
}
.header-title:hover {
  color: rgb(209, 233, 255);
}

.toggle-btn {
  height: 40px;
  width: 40px;
  color: white;
  font-size: 25px;
}
.toggle-btn:hover {
  background-color: rgba(209, 233, 255, 0.5);
}

.header-avatar {
  color: white;
}
.header-avatar:hover {
  cursor: pointer;
  background-color: rgba(209, 233, 255, 0.5);
}

.logout-btn {
  color: white;
}
.logout-btn:hover {
  cursor: pointer;
  background-color: rgba(209, 233, 255, 0.5);
}
